@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');

@function dp($dp) {
  @return ($dp / 16) + rem;
}

@function sp($sp) {
  @return ($sp / 16) + rem;
}

$font-family-code: Menlo, Monaco, Consolas, 'Courier New', monospace;
$font-family-default: 'Noto Sans KR', -apple-system, 'Apple SD Gothic Neo',
  'Roboto', 'Helvetica Neue', sans-serif;

$color-3: #333333;
$color-4c: #4c4c4c;
$color-em: #008ccf;
$color-78: #787878;
$color-h1: #00287a;

$bgcolor: #eef3f9;
$border-input-active: dp(1) solid $color-h1;
$border-input: dp(1) solid #b9cce3;

$bullet-h1: #007cc6;

$shadow-button: 0 dp(5) dp(10) 0 #00000030;
