@import 'common';

// html {
//   margin: 0;
//   padding: 0;
//   overflow: hidden;
// }

body {
  margin: 0;
  padding: 0;
  color: $color-4c;
  font-family: $font-family-default;
  background-color: $bgcolor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
