@import 'common';

.MainHeader {
  .MuiPaper-root {
    background-color: #e9852c;
    .MuiToolbar-root {
      display: flex;
      justify-content: flex-end;
      max-width: dp(1200);
      height: dp(133);
      background-image: url('../images/title_2.png');
      background-size: cover;

      .Exit {
        padding-right: dp(20);
        padding-top: dp(10);
      }
    }
  }
}

.Header {
  .MuiPaper-root {
    .MuiToolbar-root {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: dp(133);
      background-image: url('../images/title_2.png');
      background-size: cover;

      .Home {
        display: flex;
        align-items: center;
        height: 100%;
        border-right: 1px solid white;
        img {
          width: dp(68);
          height: dp(59);
          padding-right: dp(20);
        }
      }
      .SecondBox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 45%;
        height: 100%;
        .SelectBox {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          .CheckUp {
            background-color: white;
            border-radius: dp(10);
            width: 12em;
          }
          .Sort {
            background-color: white;
            border-radius: dp(10);
          }
        }
        .ImgBox {
          display: flex;
          align-items: center;
          height: 100%;
          border-left: 1px solid white;
        }
        img {
          width: dp(33);
          height: dp(59);
          padding-right: dp(15);
          padding-left: dp(38);
        }
      }
    }
  }
}

.Ticket-dialog {
  .MuiDialog-container {
    .MuiPaper-root {
      background-color: black;
      width: dp(500);
      height: dp(500);
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 5px solid orange;

      .MuiTypography-root {
        padding-top: dp(50);
        font-size: 3em;
        color: white;

        .WaitNum {
          padding-left: dp(40);
          color: #e9852c;
        }
      }

      .MuiDialogContent-root {
        color: white;
        font-size: 1.5em;
        padding-top: dp(20);
        .WaitPerson {
          padding-left: dp(50);
        }
      }

      .MuiDialogActions-root {
        padding-bottom: dp(50);

        .MuiButtonBase-root {
          width: dp(200);
          height: dp(70);
          background-color: #e9852c;
          color: black;
          font-size: 2em;
        }
      }
    }
  }
}
