@import 'common';

.MainHeader {
  .MuiPaper-root {
    .MuiToolbar-root {
      display: flex;
      justify-content: flex-end;
      max-width: dp(1200);
      height: dp(133);
      background-image: url('../images/title2.png');
      background-size: cover;
    }
  }
}
.Header {
  .MuiPaper-root {
    .MuiToolbar-root {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: dp(133);
      background-image: url('../images/title2.png');
      background-size: cover;

      .Home {
        display: flex;
        align-items: center;
        height: 100%;
        border-right: 1px solid white;
        img {
          width: dp(68);
          height: dp(59);
          padding-right: dp(20);
        }
      }
      .SecondBox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 45%;
        height: 100%;
        .SelectBox {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          .CheckUp {
            background-color: white;
            border-radius: dp(10);
            width: 12em;
          }
          .Sort {
            background-color: white;
            border-radius: dp(10);
          }
        }
        .ImgBox {
          display: flex;
          align-items: center;
          height: 100%;
          border-left: 1px solid white;
        }
        img {
          width: dp(33);
          height: dp(59);
          padding-right: dp(15);
          padding-left: dp(38);
        }
      }
    }
  }
}
.Pages {
  width: dp(1200);
  height: 100%;
}
