@import 'common';

.MainPage {
  display: flex !important;
  flex-direction: column;
  background-color: #f3f2f2;

  .Main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-around;

    button {
      width: 100%;
      display: flex;
      margin: 0 auto;
      padding: dp(32);
      justify-content: space-around;

      &:hover {
        background-color: rgba($color: #cc6600, $alpha: 0.05);
      }

      img {
        width: 100px;
      }

      p {
        color: #333333;

        &:nth-child(2) {
          font-size: 2.3em;
        }
      }

      .MuiTouchRipple-root {
        color: red;
      }
    }
  }
}
