@import 'common';

.MainPage {
  display: flex !important;
  flex-direction: column;
  background-color: #f3f2f2;
  height: 100%;

  .MuiBox-root {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly !important;
  }

  .Main {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;

    button {
      width: 100%;
      display: flex;
      margin: 0 auto;
      padding: dp(32);
      justify-content: space-evenly;

      img {
        width: 100px;
      }

      p {
        color: #333333;

        &:nth-child(2) {
          font-size: 2.3em;
          font-weight: bold;
        }
      }

      .MuiTouchRipple-root {
        color: orange;
      }
    }
  }
}
