@import 'common';

.MuiButtonBase-root {
  padding: 0 !important;
  margin: 0 !important;
}

.PatientLeft {
  display: flex !important;
  flex-direction: column;
  .InfoTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .InfoBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.MuiTabs-root {
  width: 50%;
  height: dp(700);
  padding-top: dp(19);
  align-items: center;
  .MuiTabs-indicator {
    background-color: white;
  }
  .MuiButtonBase-root {
    width: dp(600);
  }
}

.MuiTableBody {
  .MuiTableRow-root {
    display: flex !important;
    .PatientRight {
      width: 50%;
    }
  }
}

.MuiTableContainer-root {
  height: fit-content;
}
